.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top: 0%;
  left: 0;
}

.LoginSignUpBox {
  background-color: white;
  width: 25vw;
  height: 60vh;
  box-sizing: border-box;
  overflow: hidden;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 50%;
  margin-top: 20%;
  transition: all 0.5s;
}

.loginForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.loginForm > div > input {
  padding: 1vmax;
  padding-right: 1vmax;
  width: 100%;
  margin: 5%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.loginBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 90%;
  padding: 0.7vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  height: 25%;
  margin-top: 5%;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.signUpBtn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .LoginSignUpContainer {
    background-color: white;
  }
  .LoginSignUpBox {
    width: 100vw;
    height: 95vh;
  }

  .loginForm {
    padding: 5vmax;
  }

  .loginForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .loginBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
    width: 100%;
    height: 10%;
  }
}
